<%= provide(:title,"About") %>

<h1>About</h1>
Error:
PagesControllerTest#test_should_get_about:
ActionController::MissingExactTemplate: PagesController#about is missing a template for request formats: text/html
test/controllers/pages_controller_test.rb:15:in `block in <class:PagesControllerTest>'