header {
  width: 100vw;
  margin-bottom: 10px;

  .nav {
    @include flex-center(space-between);
    @include center-width($width-1);
    height: $nav-height;
    border-bottom: solid 1px;

    &__logo {
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 3rem;
      margin-bottom: 0;
    }

    &__links {
      @include flex;
      a {
        @include animated-links;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .nav {
      @include center-width(100%);

      &__logo {
        font-size: 3rem;
      }

      &__links {
        @include flex;
        a {
          @include animated-links;
        }
      }
    }
  }
}
