header {
  background-color: aliceblue;
  padding: 5px 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo a {
  font-size: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin: 0 20px;
}
