* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2b3841;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.container {
  width: 90vw;
  height: 90vh;
  margin: 5vh auto;
  position: relative;
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;

  .cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: rgba(black, 0.1);
    border: solid 1px rgba(white, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #2b3841;
    box-shadow: 34px 34px 68px #222c33, -34px -34px 68px #34444f;
    border-radius: 10px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-top: none;
    }

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      border-bottom: none;
    }

    &:nth-child(3n + 1) {
      border-left: none;
    }

    &:nth-child(3n + 3) {
      border-right: none;
    }

    &.x::before,
    &.x::after {
      content: "";
      width: calc(var(--mark-size) * 0.15);
      height: var(--mark-size);
      background-color: #f2f2f2;
      position: absolute;
    }

    &.x::after {
      transform: rotate(-45deg);
    }

    &.x::before {
      transform: rotate(45deg);
    }

    &.o::before,
    &.o::after {
      content: "";
      position: absolute;
      border-radius: 50%;
    }

    &.o::before {
      width: var(--mark-size);
      height: var(--mark-size);
      background-color: #f2f2f2;
    }

    &.o::after {
      width: calc(var(--mark-size) * 0.7);
      height: calc(var(--mark-size) * 0.7);
      background-color: #2b3841;
    }

    &.o,
    &.x {
      cursor: not-allowed;
    }
  }

  &.x {
    .cell:not(.x):not(.o) {
      &:hover::before,
      &:hover::after {
        content: "";
        width: calc(var(--mark-size) * 0.15);
        height: var(--mark-size);
        position: absolute;
      }

      &:hover::after {
        background-color: rgba(#f2f2f2, 0.6);
        transform: rotate(-45deg);
      }

      &:hover::before {
        background-color: rgba(#f2f2f2, 0.6);
        transform: rotate(45deg);
      }
    }
  }

  &.o {
    .cell:not(.x):not(.o) {
      &:hover::before,
      &:hover::after {
        content: "";
        position: absolute;
        border-radius: 50%;
      }

      &:hover::before {
        width: var(--mark-size);
        height: var(--mark-size);
        background-color: rgba(#f2f2f2, 0.6);
      }

      &:hover::after {
        width: calc(var(--mark-size) * 0.7);
        height: calc(var(--mark-size) * 0.7);
        background-color: #2b3841;
      }
    }
  }
}

.winning-message {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #2b3841;
  box-shadow: 20px 20px 60px #253037, -20px -20px 60px #31404b;
  flex-direction: column;
  color: #fff;
  display: none;

  &.show {
    display: flex;
  }

  [data-winning-message-text] {
    font-size: 5rem;
  }

  #restartButton {
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.3s;
    border: solid 3px #fff;
    cursor: pointer;

    &:hover {
      background: transparent;
      color: #fff;
    }
  }
}
