* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: lavenderblush;
  /* overflow: hidden; */
}

.app{
  display: flex;
  justify-content: space-evenly;
}

.container {
  max-width: 60%;
  margin: 0 10px;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 8px;
  background-color: crimson;
  padding: 10px;
  color: lavenderblush;
  text-transform: uppercase;
  text-align: center;
}

.menu {
  min-height: 20vh;
}

button {
  text-transform: capitalize;
  border: none;
  min-width: 150px;
  padding: 10px;
  background-color: crimson;
  color: lavenderblush;
  transition: 0.3s;
  font-weight: bold;
  border-radius: 4px;
}

button:hover {
  box-shadow: 0px 0px 40px crimson;
  cursor: pointer;
  transform: scale(1.1);
}

.status {
  padding: 20px;
  width: 100%;
  min-height: 40vh;
  color: #2f2f2f;
  background-color: rgba(220, 20, 60, 0.418);
  border-radius: 4px;
}

.status h2 {
  font-size: 2rem;
}

.status h2 span {
  color: crimson;
  font-size: 5rem;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
