.post-details {
  &__title {
    margin: 40px 0 0 0;
    font-size: 2rem;
  }
  &__author {
    font-size: 0.7rem;
  }

  &__body {
    margin: 40px 0;
  }

  .post__actions {
    flex-direction: row;
  }

}
